<html>
    <head>
        <title>Sid's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        {% for post in posts %}
          <div>
            <p>published: {{ post.published_date }}</P>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
          </div>
        {% endfor %}

        <div>
            <p>published: 13.02.2019, 13:43</p>
            <h2><a href="">My first post</a></h2>
            <p>LMAOOOOO.</p>
        </div>

        <div>
            <p>published: 13.02.2019, 13:43</p>
            <h2><a href="">My second post</a></h2>
            <p>LMAO</p>
        </div>
    </body>
</html>
